.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 300px;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formGroup select {
    padding: 4px;
}

.error {
font-style: 14px;
color: orangered; 
}